{% extends "base.html" %}

{% block title %}
    课程
{% endblock %}

{% block js %}
    function disp_alert(){


        console.log("{{ user.username }}")
        if ("{{ user.username }}" == "") {
            alert("请先登录")
        } else {
            window.location.href="/lesson/pdfprinter?id={{ lesson.id }}"
        }


    }
{% endblock %}

{% block body %}
    <div class="sc-block">
        <div class="sc-block-title">
            以下是这个课程
            <button onclick="disp_alert()">下载 PDF</button>
        </div>
        <div class="sc-cell sc-paper sc-cover">
            <div class="sc-cover-border sc-cover-border-1"></div>
            <div class="sc-cover-border sc-cover-border-2"></div>
            <div class="sc-cover-border sc-cover-border-3"></div>
            <div class="sc-cover-border sc-cover-border-4"></div>
            <img class="sc-paper-logo" src={{ company.logo_path }}>
            <div class="sc-paper-title">
                <div class="sc-paper-title-wrapper">
                    <div class="sc-paper-lessontitle">{{ lesson.name }}</div>
                    <div class="sc-paper-subtitle">(教师手册)</div>
                </div>
            </div>
            <div class="sc-paper-info">
                <div class="sc-paper-info-title-wrapper">
                    <div>公司：<span class="sc-paper-underline">{{ company.name }}</span></div>
                     {% set username = user.username %}
                    <div>姓名：<span class="sc-paper-underline">{{ user.username }}</span></div>
                    debug: {% if user is none %}user is none{% else %}user is OK{% endif %}
                </div>
            </div>
        </div>

        {% for point in points %}
        <div class="sc-cell sc-paper">

            <div class="sc-point-title">
                <strong>学习点{{ loop.index }} ：</strong>{{ point.name }}
            </div>
            <div class="sc-point-target">
                <strong>目标：</strong>{{ point.target }}
            </div>
            <div class="sc-point-cotent">
                {{ point.content }}
            </div>
        </div>

        {% endfor %}
    </div>

{% endblock %}